@{
    ViewBag.Title = "个税指南";
}
<h2>个税指南</h2>
<div class="container js_container">

    <div class="page slideIn article">
        <div class="hd">
            @*<h1 class="page_title">个税申报打印指南</h1>*@
        </div>
        <div class="bd">
            <article class="weui_article">
                <section>
                    <section>
                          <h3 style="text-align:center;font-weight:bold">个人所得税12万申报及完税证明查询打印指南</h3>
                        <p>
                           <span>&nbsp</span> 年所得12万元以上，是指纳税人在一个纳税年度内以下11项所得合计数额达到12万元：“工资、薪金所得”“个体工商户的生产、经营所得”“对企事业单位的承包经营、承租经营所得”“劳务报酬所得”“稿酬所得”“特许权使用费所得”“利息、股息、红利所得”“财产租赁所得”“财产转让所得”“偶然所得”，以及“经国务院财政部门确定征税的其他所得”。                           
                        </p>
                        <p>
                            <span>&nbsp</span>申报及查询方式：由纳税人通过深圳地税网站（<a href="http://www.szds.gov.cn">http://www.szds.gov.cn</a>）进入“电子税务局（自然人用户）”页面，注册登录后选择“办税服务—年所得12万申报”进行申报，该系统还同时提供申报纳税信息实时查询和完税证明在线打印等功能。
具体系统操作如下： 
                        </p>
                        <p>
                            1、	先打开网址：<a href="http://www.szds.gov.cn/ ">http://www.szds.gov.cn/ </a>进行个人账户信息注册。
                        </p>
                        <p>
                            2、	选取自然人用户注册，按照个人信息录入系统进行注册，输入身份证号码，选择我要开通。
                            <a href="~/Images/tax1.png">
                                <img src="~/Images/tax1.png" style="width: 100%" />
                            </a>
                            <br>
                            <br>
                            <a href="~/Images/tax2.png">
                                <img src="~/Images/tax2.png" style="width: 100%" />
                            </a>
                        </p>

                        <p>
                            3、	输入身份证号码及姓名进行身份证验证。
                             <a href="~/Images/tax3.png">
                                 <img src="~/Images/tax3.png" style="width: 100%" />
                             </a>
                        </p>
                        <p>
                            4、输入身份信息后同时进入深圳金融电子结算中心进行账户，选择个人银行账户录入账号等信息进行身份认证。
                              <a href="~/Images/tax4.png">
                                  <img src="~/Images/tax4.png" style="width: 100%" />
                              </a>
                            <br>
                            <br>
                            <a href="~/Images/tax5.png">
                                <img src="~/Images/tax5.png" style="width: 100%" />
                            </a>
                            <br>
                            <br>
                            <a href="~/Images/tax6.png">
                                <img src="~/Images/tax6.png" style="width: 100%" />
                            </a>
                            <br>
                            <br>
                            <a href="~/Images/tax7.png">
                                <img src="~/Images/tax7.png" style="width: 100%" />
                            </a>
                        </p>
                        <p>
                            5、认证完成后初始密码为身份证后六位。
                              <a href="~/Images/tax8.png">
                                  <img src="~/Images/tax8.png" style="width: 100%" />
                              </a>
                        </p>
                        <p>
                            6、重新登录系统进行密码设置
                              <a href="~/Images/tax9.png">
                                  <img src="~/Images/tax9.png" style="width: 100%" />
                              </a>
                            <br>
                            <br>
                            <a href="~/Images/tax10.png">
                                <img src="~/Images/tax10.png" style="width: 100%" />
                            </a>
                        </p>
                        <p>
                            7、设置密码后进入系统主页选择办税服务。
                              <a href="~/Images/tax11.png">
                                  <img src="~/Images/tax11.png" style="width: 100%" />
                              </a>
                        </p>
                        <p>
                            8、选择个人所得税明细打印查询及年所得12万申报。
                              <a href="~/Images/tax12.png">
                                  <img src="~/Images/tax12.png" style="width: 100%" />
                              </a>
                            <br>
                            <br>
                            <a href="~/Images/tax13.png">
                                <img src="~/Images/tax13.png" style="width: 100%" />
                            </a>
                        </p>
                        <p>
                            9、查询年所得12万申报后，在带*的位置填写单位识别号：440301715235452；选择沙头街道后点击正式申报即可完成年12万个税申报数据。
                              <a href="~/Images/tax14.png">
                                  <img src="~/Images/tax14.png" style="width: 100%" />
                              </a>
                        </p>
                        <p>
                            10、选择正式申报后逐步往下操作，无需再次缴交税金，直至申报完毕即可。
                        </p>
                    </section>

                </section>
            </article>
        </div>
    </div>
</div>
