<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Marisfrolg.Fee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

    <!--SAP配置-->
    <section name="EWP" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="EWQ" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="EWD" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="RED" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="REQ" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="REP" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="AFP" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
    <section name="AFD" type="Marisfrolg.Fee.SapConfig, Marisfrolg.Fee"/>
  </configSections>
  <!--EWM系统配置-->
  <EWP>
    <AppServerHost Value="192.168.2.63"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="820"/>
    <SystemID Value="EWP"/>
  </EWP>
  <EWQ>
    <AppServerHost Value="192.168.2.63"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="820"/>
    <SystemID Value="EWP"/>
  </EWQ>
  <EWD>
    <AppServerHost Value="192.168.2.63"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="820"/>
    <SystemID Value="EWD"/>
  </EWD>

  <!--Retail系统配置-->
  <RED>
    <AppServerHost Value="192.168.2.26"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="310"/>
    <SystemID Value="RED"/>
  </RED>
  <REQ>
    <AppServerHost Value="192.168.2.27"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="510"/>
    <SystemID Value="REQ"/>
  </REQ>
  <REP>
    <AppServerHost Value="192.168.2.53"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="810"/>
    <SystemID Value="REP"/>
  </REP>
  <AFP>
    <AppServerHost Value="192.168.2.43"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="800"/>
    <SystemID Value="AFP"/>
  </AFP>
  <AFD>
    <AppServerHost Value="192.168.2.24"/>
    <User Value="sys_pi"/>
    <Password Value="123456"/>
    <Client Value="300"/>
    <SystemID Value="AFD"/>
  </AFD>

  <connectionStrings>
    <!-- 正式 -->
    <add name="OraConnection" connectionString="metadata=res://*/Marisfrolg.csdl|res://*/Marisfrolg.ssdl|res://*/Marisfrolg.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=M4PRO;password=grace1996erp;persist security info=True;user id=MFDEV&quot;" providerName="System.Data.EntityClient"/>
    <add name="MongoConnection" connectionString="mongodb://root:Grace1996db@192.168.2.85:27017/"/>
    <add name="HanaConn" connectionString="Server=192.168.2.34:30015;Pooling=true;Max Pool Size=50;Min Pool Size=5;UserID=SYSTEM;Password=Grace12345"/>
    <!-- 测试 -->
    <!--<add name="OraConnection" connectionString="metadata=res://*/Marisfrolg.csdl|res://*/Marisfrolg.ssdl|res://*/Marisfrolg.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=M4DEV;password=grace1996erp;persist security info=True;user id=MFDEV&quot;" providerName="System.Data.EntityClient"/>
    <add name="MongoConnection" connectionString="mongodb://root:root@192.168.2.67:27017/"/>-->

    <add name="MongoDBName" connectionString="fee"/>
    <add name="ReportOracleDBConn" connectionString="Data Source= (DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.12)(PORT = 1521)))(CONNECT_DATA = (SID = ORCL))) ;User Id=mfdev;Password=grace1996erp" providerName="System.Data.OracleClient"/>
    <add name="ReportSQLSERVERDBConn" connectionString="Data Source=192.168.2.4;Initial Catalog=FEE_BW;Persist Security Info=True;User ID=FEE_BW;Password=FEE_BW123"/>
    <add name="MultiBankOracleDBConn" connectionString="Data Source= (DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.14.15)(PORT = 1521)))(CONNECT_DATA = (SID = ATSDB))) ;User Id=outsysuser;Password=test1" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <!--SAP调用的RFC-->
    <add key="RFC" value="RED" />
    <add key="RFG" value="AFD" />
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Ucstar" value="http://uc.marisfrolg.com:9090/services/UcstarWebservice"/>
    <add key="CompanyWXPlat" value="http://wx.marisfrolg.com/CompanyWXPlat/Weixin/MfWeiXinEmpService.asmx"/>
    <add key="SecurityKey" value="Marisfrolg.Sales.Platform"/>
    <add key="Key" value="grace199"/>
    <add key="Weixin_AppId" value="wxba047e6526d4545e"/>
    <!--正式-->
    <add key="ProxyUri" value="net.tcp://192.168.2.14:8056/WorkFlowService"/>
    <!--测试-->
    <!--<add key="ProxyUri" value="net.tcp://192.168.2.67:8056/WorkFlowService"/>-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000000"/>
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5"  maxRequestLength="512000" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MfWeiXinEmpServiceSoap"  sendTimeout="00:00:05"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.14/CompanyWXPlat/Weixin/MfWeiXinEmpService.asmx" binding="basicHttpBinding" bindingConfiguration="MfWeiXinEmpServiceSoap"  contract="EnterpriceService.MfWeiXinEmpServiceSoap" name="MfWeiXinEmpServiceSoap"/>
    </client>
  </system.serviceModel>
  <!--大数据json序列化-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>