@{
    ViewBag.Title = "Index";
}

<div class="container js_container">
    <div class="page slideIn article" style="margin-top: 100px;">
        <h2 class="page_title">更新列表</h2>
        <div class="hd">
        </div>
        <div class="bd">
            <article class="weui_article" style="margin-top: 10px;">
                <section>
                    <section>
                        <h3>①</h3>
                        <p>
                            增加上传附件功能，目前支持的格式为PDF，Excel，Word。
                        </p>
                    </section>
                    <section>
                        <h3>②</h3>
                        <p>
                            修改手机版不能审批，增加修改列表显示。
                        </p>
                    </section>
                </section>
            </article>
        </div>
    </div>
</div>
