html,body {
	height: 100%;
}

.bigBackground {
    background: -moz-linear-gradient(top, rgba(13, 00, 21, 0.5) 0%, rgba(13, 00, 21, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13, 00, 21, 0.5)), color-stop(100%,rgba(13, 00, 21, 0)));
    background: -webkit-linear-gradient(top, rgba(13, 00, 21, 0.5) 0%, rgba(13, 00, 21, 0) 100%);
    background: -o-linear-gradient(top, rgba(13, 00, 21, 0.5) 0%, rgba(13, 00, 21, 0) 100%);
    background: -ms-linear-gradient(top, rgba(13, 00, 21, 0.5) 0%, rgba(13, 00, 21, 0) 100%);
    background: linear-gradient(to bottom, rgba(13, 00, 21, 0.5) 0%, rgba(13, 00, 21, 0) 100%);


}

.div-center {
    position: absolute;
    top: 0;
    background-color:transparent;
    width: 100%;
    height: 100%;
    /*max-width:1024px;*/
    /*max-height:650px;*/
    z-index:-1;
    background-image:url('../Images/Login.jpg'); 
    background-repeat:no-repeat; 
    background-position:center;
}

.blur {	
    -webkit-filter: blur(3px); /* Chrome, Opera */
    -moz-filter: blur(3px);  
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false); /* IE6~IE9 */
}


.box {
    
}
.login-box {
	width: 100%;
	max-width:500px;
	height: 400px;
	position: absolute;
	top: 50%;

	margin-top: -200px;
	/*设置负值，为要定位子盒子的一半高度*/
	
}
@media screen and (min-width:500px){
	.login-box {
		left: 50%;
		/*设置负值，为要定位子盒子的一半宽度*/
		margin-left: -250px;
	}
}	

.form {
	width: 100%;
	max-width:500px;
	height: 275px;
	margin: 25px auto 0px auto;
	padding-top: 25px;
}	
.login-content {
	height: 300px;
	width: 100%;
	max-width:500px;
	background-color: rgba(255, 250, 250, .6);
	float: left;
}		
	
	
.input-group {
	margin: 0px 0px 30px 0px !important;
}
.form-control,
.input-group {
	height: 40px;
}

.form-group {
	margin-bottom: 0px !important;
}
.login-title {
	padding: 20px 10px;
	background-color: rgba(13, 00, 21, 0.4);
    font-size:30px;
    font-family:微软雅黑;
    color:white;
     /*background: linear-gradient(to bottom, rgba(13, 00, 21, 0.7) 0%, rgba(13, 00, 21, 0.1) 100%);*/
}
.login-title {
	margin-top: 10px !important;
    font-family:Georgia;
    font-size:30px;
    font-weight:bold;
}
.login-title {
	color: #fff;
}

.link p {
	line-height: 20px;
	margin-top: 30px;
}
.btn-sm {
	padding: 8px 24px !important;
	font-size: 16px !important;
}



/* Full Width Progress Bar */

#content { 
	width:100%; 
	height:5px; 
	/*background:rgba(255, 250, 250, .6);*/
    background-color:transparent;
	max-width:500px;
	position: absolute;
	top: 50%;
    margin-top: 150px;
}
@media screen and (min-width:500px){
#content {
		left: 50%;
		/*设置负值，为要定位子盒子的一半宽度*/
		margin-left: -250px;
	}
}	

.helpCss {
    overflow:hidden;
}

.fullwidth .expand { 
	width:100%; 
	height:2px; 
	margin:2px 0; 
	background:#2187e7; 
	position: absolute;
	box-shadow:0px 0px 10px 3px rgba(0,198,255,0.7);
    -moz-animation:fullexpand 10s ease-out;
	-webkit-animation:fullexpand 10s ease-out;
}

@-moz-keyframes fullexpand {
	0%  { width:0px;}
	100%{ width:100%;}	
}
@-webkit-keyframes fullexpand {
	0%  { width:0px;}
	100%{ width:100%;}	
}
