@{
    ViewBag.Title = "待办事项";
}

<div class="page" >
    <div class="hd">
        <h2 class="page_title">待办事项</h2>
    </div>


        <div class="row ">
        <div class="col-md-4" style="min-height:400px;">
            <div class="row" style="margin:0px;">
                <div class="col-md-12 brand-info" style="padding:5px;background-color:#eee;" >
                    <span class="state-title" style="color: #313131; font-family: 'Microsoft YaHei'; font-size: 30px; text-align: center;">我的单据</span>
                    <span   class="label label-success SelectTabItem">3个月以内</span>
               
                </div>
            </div>

            <div class="weui_cells weui_cells_access">

                <a class="weui_cell" href="javascript:;">
                    <i class="weui_icon_waiting" style="margin-top:-15px;"></i>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>FB20160504_001</p>
                    </div>
                    <div class="weui_cell_ft">等待李知力</div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <i class="weui_icon_success" style="margin-top:-15px;"></i>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>FT20160503_001</p>
                    </div>
                    <div class="weui_cell_ft">已完成</div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p></p>
                    </div>
                    <div class="weui_cell_ft">更多单据</div>
                </a>
            </div>


        </div>

        <div class="col-md-4">
            <div class="row" style="margin:0px;">
                <div class="col-md-12 brand-info" style="padding:5px;background-color:#eee;" >
                    <span class="state-title" style="color: #313131; font-family: 'Microsoft YaHei'; font-size: 30px; text-align: center;">我的待办</span>
                    <span   class="label label-success SelectTabItem">按时间优先级</span>
               
                </div>
            </div>

            <div class="weui_cells weui_cells_access">

                <a class="weui_cell" href="javascript:;">
                    <i class="weui_icon_waiting" style="margin-top:-15px;"></i>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>FB20160504_001</p>
                    </div>
                    <div class="weui_cell_ft">李海苍2016-05-01</div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <i class="weui_icon_waiting" style="margin-top:-15px;"></i>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>FT20160503_001</p>
                    </div>
                    <div class="weui_cell_ft">赵夫萌2016-05-04</div>
                </a>
            </div>


        </div>
        </div>


</div>

